.mainPanel
{
  -fx-background-image: url("\f.jpg");
  -fx-background-size: 1920px;
  -fx-background-color: darkgray;
  -fx-border-color: lightgrey, darkgrey;
}

.classBlock
{
	-fx-background-color: black, white ;
	-fx-border-color: black;
}

.classBlockTitle
{
	-fx-background-insets: 0, 0 1 1 0 ;
	-fx-background-color: black, white ;
	-fx-fill: pink;
}
.menu-bar
{
	-fx-background-insets: 0 0 -1 0,0,1;
	-fx-background-color: #808080;
}
.menu .label
{
	
	-fx-text-fill: #004000;
}


.text
{
	-fx-text-fill: black;
}

.link
{
	-fx-stroke: black;
}

.arrowFilled
{
	-fx-fill: black;
} 

.arrowEmpty
{
	-fx-fill: white;
}